.cursor{
    cursor: pointer;
}

.btnModal{
    border-color: #8e9bce  !important;
    border-radius: 5px !important;
    transform: translate(-10%, -10%);
}
.modal {
    border-color: #8e9bce  !important;
    border-radius: 5px !important;
    transform: translate(-10%, -10%);
}