.box1{
    background-color: #3F51B5; 
    height: 100px;
}

.box2{
     background-color: #3F51B5;
     height: 35px;
}

.redes{
    font-size: 30px !important;
    color: white;
}

.textos{
    color: white;
}

