.imagem2{
  background-image: url(https://ik.imagekit.io/zc68f3m83/livro-de-ingles-descansando-na-mesa-do-espaco-de-trabalho.jpg?updatedAt=1682650579789);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height:66vh;
}

.textos2{
  font-weight: bold !important;
}

.button {
  background-color: purple !important;
  gap: 2px;
}

.fundocadastro {
  background-color: #c5cae9 !important;
}