:root {
    /*--cinza-200: #046F82;
    --cinza-400: #F1F3F5;*/
    --dark-600: #121414;
    --dark-900:#121414;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }